* {
  box-sizing: border-box;
  // border: 1px white dotted;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

$primary-color: #4a4974;
$secondary-color: #14eeee;
$font-on-dark: white;
$font-on-light: black;
$background-color: linear-gradient(135deg, $primary-color 0%, $secondary-color 200%);
$topbar-height: 100px;
$small-screen: 768px;
$medium-screen: 1000px;
$font-styled: 'Poiret One', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-regular: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

h1,
h2,
h3 {
  font-family: $font-styled;
}

body {
  display: flex;
  flex-direction: column;
  background: $background-color;
  font-size: medium;
  font-family: $font-regular;
  color: $font-on-dark;
  & * {
    padding: 1rem;
  }
  @media screen and (max-width: $small-screen) {
    font-size: small;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  flex: 0 0 3rem;
}

.central-container {
  display: flex;
  flex: 1 1 800px;
  flex-direction: row;
  padding: 0 2rem;
  border-radius: unset;
  gap: 0.2rem; //lines between menu and main body

  aside {
    flex: 0 1 200px;
    background-color: rgb(white, 0.2);

    @media screen and (max-width: $small-screen) {
      display: none;
    }
    @media screen and (max-width: $medium-screen) {
      flex: 0 1 120px;
    }

    &#primary {
      border-radius: 1rem 0 0 1rem;
      transition: background-color 0.2s ease-in-out;
    }
    &#secondary {
      border-radius: 0 1rem 1rem 0;
    }
    &:hover {
      background-color: rgb(white, 0.22);
    }
  }

  main {
    flex: 1;
    background-color: rgb(white, 0.2);
    border-radius: 0;
    transition: all 0.5s ease-in-out;

    @media screen and (max-width: $small-screen) {
      border-radius: 1rem;
    }
  }
}

footer {
  flex: 0 1 2rem;
  display: flex;
  padding: 0.5rem 2rem;
  justify-content: space-between;
  align-items: center;

  .disclaimer,
  .disclaimer * {
    // border: 1px solid white;
  }
  .disclaimer {
    font-size: smaller;
    font-family: $font-regular;
    font-weight: 200;
    color: $font-on-dark;
    display: flex;
    align-items: center;
    padding: 0;

    span {
      word-wrap: break-word;
    }

    img {
      background-color: rgb($primary-color, 0.5);
      border-radius: 100px;
      animation: jumps 1s ease-in 3;

      @keyframes jumps {
        from {
          transform: translateY(0);
        }

        to {
          transform: translateY(-5px);
          background-color: rgb($secondary-color, 0.2);
        }
      }
    }
  }

  .auspices {
    position: relative;
    display: flex;
    padding: 0;
    align-items: center;

    a {
      display: flex;
      align-items: center;
      padding: 0;
      cursor: pointer;
      text-decoration: none;
      border-radius: 2rem;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: rgb(white, 0.2);

        #energia_valpo_logo {
          transform: scale(1.08);
        }
      }

      span {
        margin: 0;
        padding: 0 0.5rem 0 0.2rem;
        color: $font-on-dark;
        font-size: 1.3rem;
        font-weight: 800;
        font-family: $font-styled;
      }
      @media screen and (max-width: $small-screen) {
        span {
          display: none;
        }
      }

      #energia_valpo_logo {
        $logo_size: 50px;
        width: $logo_size;
        height: $logo_size;
        mix-blend-mode: hard-light;
        border: white solid 1px;
        padding: 0;
        border-radius: 100%;
        transition: transform 0.1s ease-in-out;
      }
    }
  }
}

.heart:after {
  content: '🔥';
  font-size: 3rem;
}

#brand {
  font-family: $font-styled;
  font-size: 2rem;
  font-weight: 600;
  transition: all 1s ease-in;

  &:first-letter {
    color: $secondary-color;
    font-weight: 800;
  }
}
